* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(168, 168, 168);
}

nav {
  width: 100%;
  height: 80px;
}

.header-ul {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header-li {
  border: white 1px solid;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

.header-li:first-child {
  padding-top: 20px;
}

.header-li button {
  width: 130px;
  height: 40px;
  font-size: 1.5em;
  border: white 1px solid;
  background-color: rgb(168, 168, 168);
  color: white;
  padding: 5px;
  font-weight: bold;
}

.articles {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  position: relative;
}

.articles h2 {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 20px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
}

.article {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  padding: 40px;
}

.pd-100 {
  padding-top: 120px;
}

article .author span {
  text-decoration: underline;
}

.article .image {
  width: 40px;
  height: 40px;
  background-color: black;
  transform: rotate(-15deg);
  border: white 3px solid;
  border-radius: 3px;
}

.article .writer-name {
  padding-left: 10px;
}

.article .writer-name span {
  font-weight: 100;
}

.writer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.title {
  font-size: 30px;
}

.article .title {
  padding: 30px 0;
}

.hashtags {
  padding: 5px;
}

.membership {
  border: white solid 1px;
}

.membership article {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
  margin: 0 auto;
}

.membership-left {
  width: 60%;
}

.membership-left p {
  width: 100%;
}

.membership-left ul {
  padding: 20px 0 20px 50px;
}

.membership-left button {
  width: 200px;
  height: 50px;
  background-color: rgba(216, 191, 216, 0);
  color: white;
  font-size: 20px;
  border: 1px solid white;
}

.membership-right {
  width: 200px;
  height: 200px;
  background-color: black;
  border: white 3px solid;
  border-radius: 5px;
  margin-left: 80px;
  transform: rotate(-15deg);
}

.latest-posts {
  display: grid;
  grid-template: repeat(5, auto) / repeat(4, 1fr);
}

.smashing .title {
  font-weight: bold;
  padding: 20px 0;
}

.smashing button {
  background-color: rgba(127, 255, 212, 0);
  border: 1px solid white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 20px 0;
}

.latest-posts article {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 30px;
  border: 1px solid white;
  position: relative;
}

.latest-posts article .title {
  font-size: 20px;
  text-decoration: underline;
  padding: 10px 0;
}

.latest-posts article .date {
  text-transform: uppercase;
  font-size: 12px;
}

.latest-posts article button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  border: 1px solid white;
  padding: 20px 30px;
  color: white;
  align-self: flex-end;
  background-color: rgba(175, 175, 175, 0);
  outline: none;
}

.latest-posts article .author {
  padding: 10px 0;
}

.supports {
  text-align: center;
  padding-top: 30px;
  font-weight: 100;
}

.smashing {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid white;
}

.smashing .image {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 10px auto;
}

.smashing .body {
  padding: 10px 0;
  font-size: 13px;
  text-align: center;
}

.smashing .sign-link {
  font-size: 12px;
}

.smashing .sign-link a {
  color: white;
}

.latest-footer {
  grid-column: span 4;
  text-align: center;
  padding: 40px 0;
  text-decoration: underline;
}
